*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header > div {
    padding: 10px;}

.logo{
    height: 50px;
    vertical-align: middle;}

.toboolist{
    font-size: 40px;
    vertical-align: middle;
    display: inline-block;}

main{
    background-color: hsl(199, 54%, 90%);
}
.container{
    background-color: white;}

,btb{
    background-color: turquoise;}
.btw{
    background-color: white;}

.buttom{
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}
    